<table mat-table [dataSource]="employees" class="mat-elevation-z8">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Username</th>
    <td mat-cell *matCellDef="let employee">{{ employee.username }}</td>
  </ng-container>
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let employee">{{ employee.firstName }}</td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let employee">{{ employee.lastName }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let employee">
      <div class="action-container">
        <button mat-raised-button color="primary" (click)="editEmployee(employee);$event.stopPropagation()">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteEmployee(employee);$event.stopPropagation()">Delete</button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['username', 'firstName', 'lastName', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['username', 'firstName', 'lastName', 'actions']"
      (click)="onRowClick(row)"
      class="clickable-row">
  </tr>
</table>
